<%= bootstrap_form_for(@event, layout: :horizontal) do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


    <%= f.text_field :event_name %>
    <%= f.date_select :date %>
    <%= f.time_select :time %>
    <%= f.text_area :comments %>
    <%= f.text_field :created_by %>

<%= f.fields_for :band_events do |q| %>
 <%= q.select :band_id, Band.all.collect { |p| [ p.band_name, p.id ] } %>
<% end -%>

    <%= f.submit %>

<% end %>
