<div class="row">
  <div class="col-md-12 center">

<p id="notice"><%= notice %></p>

<h1 class="text-center">Listing Events</h1>

<%= button_to 'New Event', new_event_path, :class => "btn btn-default", :method => :get %>

<br>
    <% @events.each do |event| %>
<div class="panel">
  <div class="panel-heading"><h3><%= event.event_name %> <%= event.date.to_formatted_s(:long_ordinal) %> <%= event.time.to_s(:time) %></h3></div>
  <div class="panel-body">

        <p><%= event.comments %></p>
        <p><%= event.created_by %></p>

        <%= link_to 'Show', event %>
        <%= link_to 'Edit', edit_event_path(event) %>
        <%= link_to 'Delete', event, method: :delete, data: { confirm: 'Are you sure?' } %>
      </div>
      </div>
    <% end %>

<br>





</div>
</div>
