<p id="notice"><%= notice %></p>

<p>
  <strong>Band name:</strong>
  <%= @band.band_name %>
</p>

<p>
  <strong>Members:</strong>
  <%= @band.members %>
</p>

<p>
  <strong>Date:</strong>
  <%= @band.date %>
</p>

<%= link_to 'Edit', edit_band_path(@band) %> |
<%= link_to 'Back', bands_path %>
